:root {
    --color-primary: #008CAD;
    --color-text: #1C4B56;

    --font-main: "Montserrat", sans-serif;
    --section-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
}

section {
    display: grid;
    grid-template-columns:
        minmax(50px, 1fr) minmax(0, 1200px) minmax(50px, 1fr);
    padding-block: var(--section-padding);
    padding-top: 50px;
}

section>* {
    grid-column: 2;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assests/images/showcase-8-sua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.header__navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.header__navbar>ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    width: 80vw;
    list-style-type: none;
    padding: 1rem;
    border-radius: 3rem;
    align-items: center;
}

.header__navbar ul li a {
    text-decoration: none;
    color: #C6CAC9;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header__navbar>ul>li>a:hover {
    color: white;
}

.header__navbar>ul>li:first-child a {
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.header__navbar>ul>li:nth-child(5) a {
    color: white;
}

.header__navbar button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.header__navbar button:hover {
    background-color: var(--color-text);
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    width: 17em;
    z-index: 10;
    top: 2em;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s,
        color 0.3s ease;
    /* visibility: visible → hidden(Browser đợi 0.25s, sau đó mới chuyển sang hidden)
        visibility: hidden → visible(Browser chuyển ngay lập tức, không chờ 0.3s) */
}

.parent>ul>li>a {
    color: black;
    padding-left: 10px;
    line-height: 40px;
}
.parent>ul>li>a:hover{
    color: var(--color-primary);
}

.parent:hover .child {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    line-height: 2rem;
}

.header__content h1 {
    font-size: 50px;
    padding-bottom: 30px;
}

.findTour,
.contact,
.subscribe {
    text-align: center;
    /* background-color: blue; */
}

.title-type1,
.title-type2 {
    font-family: var(--font-main);
    color: var(--color-text);
    font-size: 30px;
    font-weight: 500;
    /* background-color: yellowgreen; */
    padding-bottom: 20px;
}

.text {
    /* background-color: aqua; */
    padding: 0 15rem;
}

.selectTour {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    margin-top: 50px;
}

.selectTour select {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}

.title-type2 {
    font-weight: 600;
}


/* ========TEST====== */

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    /* Chừa chỗ cho pagination */
}

.swiper-slide {
    overflow: hidden;
    border-radius: 10px;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.swiper-slide:hover img {
    transform: scale(1.05);
}

.card__desciption {
    height: 70px;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
    /* Để không chặn click vào ảnh */
}

.buttons button {
    width: 45px;
    height: 45px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    color: var(--color-text);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px;
    pointer-events: auto;
    /* Kích hoạt lại click cho nút */
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
    background: var(--color-primary);
    color: white;
}

/* Tùy chỉnh Pagination (Dấu chấm ở dưới) */
.swiper-pagination-bullet-active {
    /*class mặc định của swiper*/
    background: var(--color-primary);
}







.card {
    flex: 0 0 350px;
    /* chiều rộng cố định */
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.card__image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card__image img:hover {
    transform: scale(1.02);
}

.card__tag {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: var(--color-primary);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card__title {
    color: var(--color-text);
    font-weight: 500;
    line-height: 60px;
    font-size: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

.card__price {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 20px;
}

.card-content button {
    padding: 15px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}


.category {
    display: grid;
    /* background-color: aquamarine; */
    grid-template-columns: repeat(6, 1fr);
    color: var(--color-primary);
    gap: 30px;
}

.category-icon {
    font-size: 40px;
}

.category-card {
    /* background-color: blanchedalmond; */
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    /*chiều dài = chiều rộng => hình vuông */
    border-radius: 20px;
    transition: all 0.3s ease;
}

.category-card:hover {
    background-color: #E5F3F6;
    transform: translateY(-10px);
}

.deals-infor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /* background-color: aquamarine; */

}

.deal {
    height: 400px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.deal-left {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    align-items: flex-start;
    /*để button đc bth*/
}

.deal-left h4 {
    font-size: 20px;
    line-height: 60px;
}

.badge-deal {
    /* background-color: #33A0B9; */
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 40px;
    left: 30px;
}

.deal-qty {
    color: yellow;
    font-weight: 500;
    line-height: 80px;
}

.deal-btn {
    background-color: white;
    color: var(--color-primary);
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.deal-btn:hover {
    transform: translateY(-5px);
}

.deal-right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tour-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: flex-start;
}

.tour-content {
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tour-content:hover {
    transform: scale(1.02);
}

.tour-content img {
    width: 100%;
    object-fit: contain;
}

.tour-content>*:not(img) {
    margin: 15px;
}

.tour-content p {
    min-height: 4rem;
}

.tour-content button {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s ease;
}
.tour-content button:hover {
    background-color: var(--color-primary);
    color: white;
}

.contactQuiz {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.contactQuiz button {
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid var(--color-primary);
    background-color: white;
    color: var(--color-primary);
    transition: background-color 0.3s ease;

}

.contactQuiz button:first-child {
    background-color: var(--color-primary);
    color: white;
}

.contactQuiz button:not(:first-child):hover {
    color: white;
    background-color: var(--color-primary);
}

.subscribe {
    background-color: #0B171A;
    color: white;
    line-height: 50px;
    height: 50vh;
}

.form-subscribe {
    display: flex;
    justify-content: center;
    height: 40px;
    position: relative;
}

.form-subscribe input {
    width: 30rem;
    border: 1px solid #3B3B3B;
    border-radius: 20px;
    background-color: #252525;
}

.form-subscribe button {
    border-radius: 20px;
    border: none;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    right: 29%;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
.form-subscribe button:hover {
    background-color: var(--color-text);
}
footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    list-style-type: none;
    color: white;
    background-color: #031013;
    height: 50vh;
    font-size: 13px;
    padding: 50px;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

footer h4 {
    font-size: 18px;
    line-height: 50px;
}

footer i {
    color: var(--color-primary)
}

.contact-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.contact-icons a {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    padding: 10px;
}