* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main-content {
  margin-right: auto;
  margin-left: auto;
  width: 1320px;
  max-width: calc(100% - 48px);
}
.btn {
  background-color: #008cad;
  color: white;
  font-size: 14px;
  margin: 0 0 0 30px;
  border-radius: 50px;
  transition: 0.3s;
}

.header {
  padding-top: 20px;
  padding-bottom: 8px;
  background-image:
    linear-gradient(135deg, rgba(3, 16, 19, 0.5), rgba(3, 16, 19, 0.5)),
    url(../../assests/images/showcase-8-sua.jpg);
  height: 365px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
  transition: 0.3s;
}
.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body .title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  margin-left: 25px;
  font-weight: 600;
  padding: 5px 0 5px 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-navbar {
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 50px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  position: relative;
}
.navbar a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  padding: 25px 14.87px;
  font-size: 19px;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

.navbar ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background-color: white;
  color: black;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  z-index: 999;
}
.navbar ul li ul li a {
  padding: 10px 20px;
  font-size: 14px;
  color: black;
  white-space: nowrap;
}
.navbar ul li ul li a:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: black;
  text-decoration: none;
}
.navbar ul li:hover > ul {
  display: flex;
}

.action {
  margin-right: 30px;
}
.action .btn-Get-Started {
  padding: 10.5px 24px;
  min-width: 114px;
  font-size: 15px;
}

.sub-title,
.blog .desc {
  text-align: center;
}
.blog .sub-title {
  margin-top: 140px;
  color: white;
  font-size: 42px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.blog .desc {
  margin: 16px 7px 10px;
  font-size: 14px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.home-blog {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.home-blog .home-blog-row {
  margin-top: 5px;
  font-size: 10px;
  color: #bdb7b6;
}
.link-home {
  font-size: 15px;
  font-weight: 400;
  color: #008cad;
  margin-right: 7px;
}
.link-blog {
  font-size: 15px;
  font-weight: 400;
  color: white;
  margin-left: 7px;
}

.main {
  margin-top: 58px;
}

.main-content .tech {
  position: relative;
  height: 550px;
  border-radius: 15px;
  overflow: hidden;
}
.main-content .tech::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0)),
    url("../../assests/images/tech.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.4s ease;
}
.main-content .tech:hover::before {
  transform: scale(1.1);
}
.tech .content {
  margin-left: 45px;
  position: absolute;
  bottom: 70px;
  font-family: "Poppins", sans-serif;
  max-width: 90%;
}
.tech .sub-title {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
}
.tech .title {
  position: relative;
  top: 18px;
  font-size: 41px;
  font-weight: 500px;
  color: white;
  line-height: 48px;
}
.tech .desc {
  padding-right: 5px;
  color: white;
  position: relative;
  top: 40px;
}

.business-Lifestyle {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.business-Lifestyle .bl {
  position: relative;
  width: 645px;
  max-width: 100%;
  height: 845px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.business-Lifestyle .business {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.business-Lifestyle .business::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to top, rgba(20, 35, 30, 0.2), rgba(20, 35, 30, 0)),
    url("../../assests/images/bussines.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
}

.business-Lifestyle .business:hover::before {
  transform: scale(1.1);
}
.business-Lifestyle .lifestyle {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.business-Lifestyle .lifestyle::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to top, rgba(20, 35, 30, 0.4), rgba(20, 35, 30, 0)),
    url("../../assests/images/lifestyles.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
}

.business-Lifestyle .lifestyle:hover::before {
  transform: scale(1.1);
}
.content-bl .sub-bl {
  display: flex;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
}
.content-bl .link-bl {
  font-size: 18px;
  color: white;
  line-height: 48px;
}
.content-bl {
  position: absolute;
  top: 758px;
  right: 200px;
}

.main-content .small-tech {
  width: 411px;
  max-width: 100%;
  height: 228px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.main-content .small-tech::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0)),
    url("../../assests/images/tech.webp");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: transform 0.4s ease;
}
.main-content .small-tech:hover::before {
  transform: scale(1.2);
}

.main-content .small {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.main-content .small-tech {
  position: relative;
}
.main-content .small-title {
  position: absolute;
  bottom: 58px;
  left: 44px;
  display: flex;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
}
.main-content .link-small {
  position: absolute;
  margin-top: 164px;
  margin-left: 44px;
  font-size: 18px;
  color: white;
  line-height: 48px;
}
.main-content .small-sport {
  width: 411px;
  max-width: 100%;
  height: 228px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.main-content .small-sport::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0)),
    url("../../assests/images/sport.webp");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: transform 0.4s ease;
}

.main-content .small-sport:hover::before {
  transform: scale(1.2);
}

.small-sport .small-title {
  position: absolute;
  bottom: 58px;
  left: 44px;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
}
.main-content .small-culture {
  width: 411px;
  max-width: 100%;
  height: 228px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.main-content .small-culture::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0)),
    url("../../assests/images/flower.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: transform 0.4s ease;
}

.main-content .small-culture:hover::before {
  transform: scale(1.2);
}

.small-sport .small-title {
  position: absolute;
  bottom: 58px;
  left: 44px;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
}
.main-content .section {
  margin-top: 117px;
  font-family: "Roboto", sans-serif;
  border-radius: 15%;
}
.section .small-op {
  width: 420px;
}
.small-op .picture {
  width: 100%;
  max-width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
}
.small-op .desc {
  color: #69787b;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
}
/* card */
.main-card {
  display: flex;
  justify-content: space-between;
}
.main-card a:hover {
  color: rgba(28, 75, 86, 1);
}
.card {
  margin-top: 100px;
  width: 415px;
  height: 435px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
}

.card .img {
  width: 415px;
  height: 235px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}

.card .infor {
  margin-left: 41px;
  margin-top: 10px;
}
.card-sup {
  margin-top: 30px;
}
.avatar {
  display: flex;
}
.avatar .avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card p {
  font-size: 16px;
  color: color(srgb 0.0196078 0.117647 0.137255 / 0.6);
}
.card .card-title {
  margin-top: 10px;
}
.card .card-link {
  color: rgba(28, 75, 86, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.card .avatar {
  margin-top: 15px;
}
.avatar .avt-img {
  padding-right: 20px;
}
.avatar-infor .desc {
  font-weight: 400;
  font-style: 16px;
  line-height: 30px;
  color: rgb(5, 30, 35);
}
.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  align-items: center;
  gap: 1px;
}

.pagination li a {
  width: 36px;
  height: 36px;
  color: #008cad;
}
.pagination .material-symbols-outlined {
  font-size: 40px;
}
/* footer */
.footer {
  margin-top: 50px;
  background-color: #0b171a;
  height: 250px;
}
.footer .sub-title {
  padding-top: 45px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700px;
}
.footer .desc {
  padding-bottom: 30px;
  text-align: center;
  color: white;
}
.input {
  border-color: #252525;
  color: white;
  position: relative;
  display: flex;
  border-radius: 50px;
  width: 630px;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}
.input .email {
  background-color: #373737;
  padding-left: 12px;
  color: white;
  height: 47px;
  width: 550px;
  border-radius: 50px 0 0 50px;
}
.input .input-button {
  position: absolute;
  border-color: rgba(255, 255, 255, 0.1);
  font-style: 16px;
  padding: 14px 20px;
  margin-left: auto;
  right: 0;
}
.footer2 {
  padding-top: 50px;
  background-color: #031013;
  height: 200px;
  color: white;
  padding-bottom: 50px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.hehe {
  font-size: 25px;
}
.ft-title {
  font-family: "Raleway", sans-serif;
}
.address {
  margin-top: 10px;
}
.connect {
  margin-top: 15px;
}
.footer-links {
  line-height: 25px;
}
.footer-services {
  line-height: 25px;
}
.footer-follow {
  line-height: 25px;
}
.fa-solid {
  font-size: 12px;
  color: #008cad;

  align-items: center;
}
.footer-links a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-services a {
  color: rgba(255, 255, 255, 0.7);
}
.contact-icon {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}
.contact-icon a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  color: white;
}
.footer-f {
  padding-top: 30px;
  background-color: #031013;
  color: white;
  text-align: center;
}
.footer-f .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-services a:hover {
  color: #008cad;
}
.footer-follow a:hover {
  color: #008cad;
}
.footer-links a:hover {
  color: #008cad;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
