:root {
    --color-primary: #008CAD;
    --color-text: #1C4B56;

    --font-main: "Montserrat", sans-serif;
    --section-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
}

section {
    display: grid;
    grid-template-columns:
        minmax(50px, 1fr) minmax(0, 1200px) minmax(50px, 1fr);
    padding-block: var(--section-padding);
    padding-top: 50px;
}

section>* {
    grid-column: 2;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assests/images/showcase-8-sua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.header__navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.header__navbar>ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    width: 80vw;
    list-style-type: none;
    padding: 1rem;
    border-radius: 3rem;
    align-items: center;
}

.header__navbar ul li a {
    text-decoration: none;
    color: #C6CAC9;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header__navbar>ul>li>a:hover {
    color: white;
}

.header__navbar>ul>li:first-child a {
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.header__navbar>ul>li:nth-child(5) a {
    color: white;
}

.header__navbar button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.header__navbar button:hover {
    background-color: var(--color-text);
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    width: 250px;
    z-index: 10;
    top: 45px;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s,
        color 0.3s ease;
    /* visibility: visible → hidden(Browser đợi 0.25s, sau đó mới chuyển sang hidden)
        visibility: hidden → visible(Browser chuyển ngay lập tức, không chờ 0.3s) */
}

.parent>ul>li>a {
    color: black;
    padding-left: 10px;
    line-height: 40px;
}

.parent>ul>li>a:hover {
    color: var(--color-primary);
}

.parent:hover .child {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    line-height: 2rem;
}

.header__content h1 {
    font-size: 50px;
    padding-bottom: 30px;
}


.gallery1 {
    padding: 60px 0;
    margin: 0 auto;
    position: relative;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    overflow: hidden;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    width: 300px; /* Chiều rộng của slide trung tâm */
    height: 300px; /* Chiều cao của slide trung tâm */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.swiper-slide:hover img {
    transform: scale(1.05);
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
    /* Để không chặn click vào ảnh */
}

.buttons button {
    width: 45px;
    height: 45px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    color: var(--color-text);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px;
    pointer-events: auto;
    /* Kích hoạt lại click cho nút */
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
    background: var(--color-primary);
    color: white;
}

/* Tùy chỉnh Pagination (Dấu chấm ở dưới) */
.swiper-pagination-bullet-active {
    /*class mặc định của swiper*/
    background: var(--color-primary);
}


.filter-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.filter-buttons button {
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.filter-buttons button.active {
    background-color: var(--color-primary);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.gallery-grid img {
    max-width: 260px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.02);
}
.gallery-grid .item {
    border-radius: 16px;
    overflow: hidden;

    opacity: 1;
    transform: translateY(0) scale(1);

    transition:
        opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-grid .item.hide {
    opacity: 0;
    transform: scale(0.85) translateY(20px);
    pointer-events: none;
    position: absolute;
}
.gallery-grid .item.enter {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
}


.subscribe {
    background-color: #0B171A;
    color: white;
    line-height: 50px;
    height: 40vh;
    text-align: center;
}

.form-subscribe {
    display: flex;
    justify-content: center;
    height: 40px;
    position: relative;
}

.form-subscribe input {
    width: 30rem;
    border: 1px solid #3B3B3B;
    border-radius: 20px;
    background-color: #252525;
}

.form-subscribe button {
    border-radius: 20px;
    border: none;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    right: 29%;
    background-color: var(--color-primary);
    color: white;
    font-size: 15px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    list-style-type: none;
    color: white;
    background-color: #031013;
    height: 50vh;
    font-size: 13px;
    padding: 50px;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

footer h4 {
    font-size: 18px;
    line-height: 50px;
}

footer i {
    color: var(--color-primary)
}

.contact-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.contact-icons a {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    padding: 10px;
}