:root {
    --color-primary: #008CAD;
    --color-text: #1C4B56;

    --font-main: "Montserrat", sans-serif;
    --section-padding: 20px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
}

section {
    display: grid;
    grid-template-columns:
        minmax(50px, 1fr) minmax(0, 1200px) minmax(50px, 1fr);
    padding-block: var(--section-padding);
    padding-top: 50px;
}

section>* {
    grid-column: 2;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assests/images/showcase-8-sua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__navbar {
    position: fixed;
    top: 3vh;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0 5%;
}

.header__navbar>ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    min-width: 80vw;
    list-style-type: none;
    padding: 0.5rem;
    gap: 2rem;
    border-radius: 3rem;
    align-items: center;
}

.header__navbar ul li a {
    text-decoration: none;
    color: #C6CAC9;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header__navbar>ul>li>a:hover {
    color: white;
}

.header__navbar>ul>li:first-child a {
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.header__navbar>ul>li:nth-child(5) a {
    color: white;
}

.header__navbar button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.header__navbar button:hover {
    background-color: var(--color-text);
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    width: 17em;
    z-index: 10;
    top: 3em;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s,
        color 0.3s ease;
    /* visibility: visible → hidden(Browser đợi 0.25s, sau đó mới chuyển sang hidden)
        visibility: hidden → visible(Browser chuyển ngay lập tức, không chờ 0.3s) */
}

.parent>ul>li>a {
    color: black;
    padding-left: 10px;
    line-height: 2;
    /* background-color: #008CAD; */
}

.parent>ul>li>a:hover {
    color: var(--color-primary);
}

.parent:hover .child {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 4vh;
    right: 5%;
    z-index: 200;
    background: var(--color-primary);
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.header__content {
    text-align: center;
    color: white;
    line-height: 2;
}

.header__content h1 {
    font-size: 50px;
    padding-bottom: 30px;
}



.content {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.content-left {
    min-width: 35vw;
    width: 35vw;
}
.content-left img {
    width: 100%;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}
.content-left img:hover {
    transform: scale(1.02);
}
.connect {
    background-color: #E5F3F6;
    padding: 25px;
    border-radius: 20px;
}
.content i {
    color: var(--color-primary);
}
.text-des {
    font-size: 15px;
    padding: 15px 0;
}
.connect button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 600;
    transition: transform 0.3s ease, 
                background-color 0.3s ease;
}
.connect button:hover {
    transform: translateY(-3px);
    background-color: #09b6dc;
}

.filter-buttons {
    border-bottom: 1px solid rgb(148, 144, 144);
    padding-bottom: 10px;
}
.filter-buttons button {
    font-family: var(--font-main);
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 550;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}
.filter-buttons button:hover {
    background-color: rgb(233, 233, 233);
}
.filter-buttons button.active {
    background-color: var(--color-primary);
    color: white;
}

.faq-list {
    padding-top: 50px;
}
.faq-item {
    box-shadow: 3px 5px 10px rgba(70, 70, 70, 0.2);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
}
.faq-item.active {
    background-color: rgb(227, 245, 252);
}
.faq-item.hide {
    display: none;
}
.question {
    display: flex;
    justify-content: space-between;
    font-weight: 550;
    padding-bottom: 15px;
}
.faq-item.active .question {
    color: var(--color-primary);
}
.question i{
    transition: transform 0.3s ease;
}
.faq-item.active i {
    transform: rotate(180deg);
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-size: 15px;
}
.faq-item.active .answer {
    padding-bottom: 15px;
}

.subscribe {
    background-color: #0B171A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    text-align: center;
    min-height: 50vh;
}
.form-subscribe {
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    background: #1f1f1f;
    border-radius: 50px;
    padding: 6px;
    max-width: 600px;
    width: 100%;
}

.form-subscribe input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 50px;
}

.form-subscribe button {
    border: none;
    background-color: var(--color-primary, #0ea5b7);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-subscribe button:hover {
    background-color: var(--color-text);
}
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    list-style-type: none;
    color: white;
    background-color: #031013;
    min-height: 50vh;
    font-size: 13px;
    padding: 50px;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

footer h4 {
    font-size: 18px;
    line-height: 50px;
}

footer i {
    color: var(--color-primary)
}

.contact-icons {
    display: flex;
    gap: 2em;
    font-size: 20px;
    margin-top: 20px;
}

.contact-icons a {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    padding: 10px;
}



@media (max-width: 1200px) {
    .header__navbar>ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 1rem;
        padding: 2rem;
        width: 90%;
        margin: auto;
    }

    .header__navbar {
        display: none;
        top: 10vh;
    }

    .header__navbar.active {
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}
